
 {% block body %}
           <!-- Naviguation Bar -->
           <ul>
                <li><a>SAFER</a></li>
                <li><a href="{{ path('home') }}">home</a></li>
                <li><a href="{{ path('categorie') }}">Categories</a></li>
                <li><a href="#">Contact</a></li>
                <li style="float:right"><a href="{{ path('login') }}">Sign In</a></li>
            </ul>
{% endblock %}