{% extends 'base.html.twig' %}

{% block title %} Sign Up Admin {% endblock %} 

{% block body %}

    {% include 'Partials/navbar.html.twig' %}
    <div class="container" id="container">
    
        <div class="form-container sign-up-container">
            <form method="POST" action="#">
                <h1>Créer votre compte</h1>      
                <!-- les champs à remplir -->
                <input type="text" name="nom" placeholder="Nom" requierd/>
                <input type="text" name="prenom" placeholder="Prénom" required/>
                <input type="text" name="login" placeholder="Login" required/>
                <input type="email" name="mail" placeholder="Email" required/>
                <input type="password" name="password" placeholder="Créer votre mot de passe" required/>
                
                <!-- Le bouton envoyer -->
                <button name="envoyer">Envoyer</button>
            </form>

        </div>

        <!-- Le formulaire de connection -->
        <div class="form-container sign-in-container">
            <form action="#" method="POST">
                <h1>Connectez-vous</h1>
                <input type="text" name="login" placeholder="Login">
                <input type="password" name="password" placeholder="mot de passe" />

                <!-- Le bouton connecter -->
                <button  name="login">Entrer</button>

		    </form>
        </div>
         <!-- les remarques -->
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Bonjour!</h1>
				<p>Pour vous connecter à votre compte, cliquez-ici!</p>
				<button class="ghost" id="signIn">Connecter</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Bienvenue!</h1>
				<p>Vous n'avez pas de compte? Créez un en remplissent ce formulaire!</p>
				<button class="ghost" id="signUp">Créer</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}